.square-normal {
    background: #fff;
    border: 2px solid #999;
    float: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
}
.square-highlight {
    background: rgb(250, 159, 159);
    border: 2px solid #999;
    float: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
}